<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mycobot_ai">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import mycobot_ai urdf file -->
    <xacro:include filename="$(find robot_description)/urdf/mycobot_with_vision_v2.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="mycobot_ai.ros2_control.xacro" />


    <xacro:mycobot_ai_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
